* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%; }

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 62.5%;
  overflow-x: hidden; }

.con {
  width: 100%;
  margin-bottom: 4rem; }
  .con .tab {
    width: 100%;
    height: 3.4rem;
    background: #FFE339;
    display: flex;
    position: relative; }
    .con .tab .swiper-wrapper {
      width: 40%;
      height: 2rem;
      color: #FFE339;
      border-radius: 1.6rem;
      border: 2px solid #422408;
      background: #422408;
      position: relative;
      margin: 0.5rem auto;
      box-sizing: content-box; }
      .con .tab .swiper-wrapper .swiper-slide:nth-of-type(1) {
        width: 50%;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        border-radius: 1.5rem;
        position: absolute;
        left: 0;
        top: 0; }
      .con .tab .swiper-wrapper .swiper-slide:nth-of-type(2) {
        width: 50%;
        height: 2rem;
        text-align: center;
        line-height: 2rem;
        border-radius: 1.5rem;
        position: absolute;
        right: 0;
        top: 0; }
      .con .tab .swiper-wrapper .active1 {
        background: #FFE339;
        color: #422408; }
    .con .tab .logo {
      position: absolute;
      right: 1rem;
      top: 0;
      width: 2rem;
      height: 3rem;
      font-size: 1.6rem;
      line-height: 3rem; }
      .con .tab .logo a {
        position: absolute;
        right: 1rem;
        top: 0;
        width: 2rem;
        height: 3rem;
        font-size: 1.6rem;
        line-height: 3rem; }
  .con .box {
    width: 100%;
    display: flex; }
    .con .box .swiper-wrapper {
      width: 100%; }
      .con .box .swiper-wrapper .swiper-slide {
        width: 100%; }
        .con .box .swiper-wrapper .swiper-slide .ul1 {
          width: 100%;
          display: flex;
          flex-direction: column;
          list-style: none; }
          .con .box .swiper-wrapper .swiper-slide .ul1 li {
            width: 100%;
            display: flex;
            flex-direction: column; }
            .con .box .swiper-wrapper .swiper-slide .ul1 li .li-top {
              padding: 1rem;
              margin-top: 1rem;
              width: 100%;
              line-height: 3rem;
              display: flex; }
              .con .box .swiper-wrapper .swiper-slide .ul1 li .li-top .li-img {
                width: 10%; }
                .con .box .swiper-wrapper .swiper-slide .ul1 li .li-top .li-img img {
                  width: 100%;
                  border-radius: 50%; }
              .con .box .swiper-wrapper .swiper-slide .ul1 li .li-top span {
                padding-left: 1rem;
                width: 75%;
                font-size: 1rem; }
              .con .box .swiper-wrapper .swiper-slide .ul1 li .li-top p {
                width: 15%;
                height: 2rem;
                border-radius: 15px;
                background: yellow;
                color: saddlebrown;
                text-align: center;
                line-height: 2rem;
                font-size: 1rem; }
            .con .box .swiper-wrapper .swiper-slide .ul1 li .li-cen {
              width: 100%;
              display: flex;
              flex-direction: column;
              padding: 0 1rem; }
              .con .box .swiper-wrapper .swiper-slide .ul1 li .li-cen p {
                width: 100%;
                font-size: 1rem; }
              .con .box .swiper-wrapper .swiper-slide .ul1 li .li-cen .li-img1 {
                width: 100%;
                padding: 1rem; }
                .con .box .swiper-wrapper .swiper-slide .ul1 li .li-cen .li-img1 img {
                  width: 60%; }
            .con .box .swiper-wrapper .swiper-slide .ul1 li .li-bom {
              width: 100%;
              display: flex;
              padding: 0 1rem; }
              .con .box .swiper-wrapper .swiper-slide .ul1 li .li-bom span {
                width: 70%;
                font-size: 1rem; }
              .con .box .swiper-wrapper .swiper-slide .ul1 li .li-bom .li-rigth {
                display: flex;
                width: 30%;
                text-align: right;
                font-size: 1rem; }
                .con .box .swiper-wrapper .swiper-slide .ul1 li .li-bom .li-rigth span:hover {
                  color: yellow; }
      .con .box .swiper-wrapper .swiper1 {
        width: 100%;
        display: flex; }
        .con .box .swiper-wrapper .swiper1 .swiper-wrapper {
          width: 100%; }
          .con .box .swiper-wrapper .swiper1 .swiper-wrapper .swiper-slide {
            width: 50%;
            height: 3rem;
            font-size: 1.2rem;
            text-align: center;
            line-height: 3rem; }
          .con .box .swiper-wrapper .swiper1 .swiper-wrapper .active {
            border-bottom: 2px solid yellow; }

.footer {
  border-top: 1px solid #ddd;
  width: 100%;
  height: 4rem;
  background: white;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 200;
  padding: 0.5rem 0; }
  .footer ul {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .footer ul li {
      width: 25%;
      height: 3rem; }
      .footer ul li a {
        display: block;
        width: 100%;
        color: black; }
        .footer ul li a p:nth-of-type(1) {
          width: 100%;
          color: #d4d4d4;
          font-size: 1.6rem;
          text-align: center;
          margin: 0; }
        .footer ul li a p:nth-of-type(2) {
          width: 100%;
          color: black;
          font-size: 0.8rem;
          text-align: center;
          margin: 0.2rem 0 0.5rem 0; }
    .footer ul li a:hover {
      text-decoration: none; }
    .footer ul li a:hover p {
      color: #FFE339; }
